/* Con esto el body toma el tamaño del navegador 
segun la pantalla, usando flex */
body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.is-full-height-100vh {
    height: 100vh;
}

/* Se aplica para que automaticamente se posicione abajo */
.footer {
    margin-top: auto;
}

.full-height {
    height: 100%;
}

.vertical-line {
    border-left: thick solid #cfcece;
    border-width: 0.1rem;
}

.horizontal-line {
    border-top: thick solid #cfcece;
    border-width: 0.1rem;
    margin-top: 1.5%;
    margin-bottom: 1.7%;
}

.active {
    border-bottom: thick solid;
    border-width: 0.10rem;
    border-color: hsl(217, 71%, 53%);
}

.is-orange {
    background-color: #ff9f1c !important;
    border-color: transparent;
    color: black !important;
}

.is-orange-light {
    background-color: #FFBF69 !important;
    border-color: transparent;
    color: black !important;
}

.has-text-orange {
    color: #ff9f1c !important;
}

.has-text-orange-light {
    color: #FFBF69 !important;
}

a:hover {
    color: #ff9f1c !important;
}

.is-green-aqua {
    background-color: #2ec4b6 !important;
    border-color: transparent;
    color: white !important;
}

.has-background-green-aqua {
    background-color: #2ec4b6 !important;
}

.has-text-aqua {
    color: #2ec4b6 !important;
}

.is-green-aqua-light {
    background-color: #CBF3F0 !important;
    border-color: transparent;
    color: black !important;
}

.has-text-aqua-light {
    color: #CBF3F0 !important;
}