{% extends 'layout.html' %}

{% block title %}
{{ super() }}
Detalles
{% endblock %}

{% block content %}

<div id="modal-add-account" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">
            <form action="{{ url_for('add_account') }}" method="POST">
                <p class="subtitle is-6 has-text-black-bis">
                    Cuenta
                </p>
                <div class="field">
                    <div class="control">
                        {{ account_form.name(id='name', class='input', type='text', placeholder='Nombre de la cuenta', autocomplete='off') }}
                    </div>
                </div>

                {{account_form.id_vault(class='is-hidden', value=id_vault)}}

                <div class="field">
                    <div class="control">
                        {{ account_form.password(class='input', type='text', placeholder='Contraseña', autocomplete='off') }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ account_form.page(class='input', type='text', placeholder='Página de la cuenta', autocomplete='off') }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ account_form.description(class='textarea', type='text', placeholder='Descripción de la cuenta, opcional', autocomplete='off') }}
                    </div>
                </div>

                <div class="control has-text-right">
                    {{ account_form.submit(class="button is-link has-text-light") }}
                </div>
            </form>
        </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="columns is-centered is-vcentered is-mobile">
    <div class="column is-8-desktop-only ">
        <nav class="breadcrumb " aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        Bóvedas
                    </a>
                </li>
                <li class="is-active">
                    <a href="#" aria-current="page">
                        {{vaultname[0].capitalize()}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="column has-text-right">
        <button class="js-modal-trigger button is-small is-link" data-target="modal-add-account">
            Agregar cuenta
        </button>
    </div>
</div>

<section class="box">
    {% if accounts %}
    {% for account in accounts %}

    <a class="media" href="{{ url_for('details_account', id_vault=id_vault, id_account=account[0]) }}">
        <div class="media-left ">
            <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-6">{{ account[1] }}</p>
            <p class="subtitle is-7">{{ account[2] }}</p>
        </div>
    </a>


    {% endfor %}
    {% else %}
    <div class="box">
        <p class="subtitle is-6 has-text-centered">
            No hay cuentas agregadas
        </p>
    </div>
    {% endif %}
</section>

{% endblock %}

{% block details %}

{% if details_account %}

<div class="columns is-centered is-vcentered is-mobile">
    <div class="column is-8-desktop-only">

        <nav class="breadcrumb " aria-label="breadcrumbs">
            <ul>
                <li class="is-active">
                    <a href="#" aria-current="page">
                        {{details_account['name']}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="column has-text-right">

        <p class="buttons are-small is-right">
            <button class="js-modal-trigger button is-link" data-target="modal-js-example">
                
                <span>
                    Editar
                </span>
            </button>
            <button  class="target-dropdown button is-ghost" data-target="dropdown">
                <div id="dropdown" class="dropdown is-right">
                    
                    <div class="dropdown-trigger">
                        <span class="is-clickable" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon  has-text-black-bis">
                                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                            </span>
                        </span>
                    </div>

                    <div class="dropdown-menu has-text-centered" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item has-text-danger"
                                href="{{ url_for('del_account', id_vault=details_account['id_vault'], id_account=details_account['id_account']) }}">
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            </button>
        </p>



    </div>
</div>


<section class="box">
    <div class="field">
        <label class="label has-text-black-ter">Nombre</label>
        <div class="control">
            <input class="input" type="text" readonly value="{{ details_account['name'] }}">
        </div>
    </div>
    <div class="field">
        <label class="label has-text-black-ter">Contraseña</label>
        <div class="control">
            <input class="input" type="text" readonly value="{{ details_account['password'] }}">
        </div>
    </div>
</section>



<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">
            <form action="{{ url_for('edit_account', id_account=details_account['id_account']) }}" method="POST">
                <p class="subtitle is-6 has-text-black-bis">
                    Editar cuenta
                </p>
                <div class="field">
                    <div class="control">
                        {{ account_form.name(id='name', class='input', type='text', placeholder='Nombre de la cuenta', autocomplete='off', value=details_account['name']) }}
                    </div>
                </div>

                {{account_form.id_vault(class='is-hidden', value=details_account['id_vault'])}}

                <div class="field">
                    <div class="control">
                        {{ account_form.password(class='input', type='text', placeholder='Contraseña', autocomplete='off', value=details_account['password']) }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ account_form.page(class='input', type='text', placeholder='Página de la cuenta', autocomplete='off', value=details_account['page']) }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ account_form.description(class='textarea', type='text', placeholder='Descripción de la cuenta, opcional', autocomplete='off', value=details_account['description']) }}
                    </div>
                </div>

                <div class="control has-text-right">
                    {{ account_form.submit(class="button is-link has-text-light") }}
                </div>
            </form>
        </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endif %}

{% endblock %}