{% extends 'layout.html' %}

{% block title %}
{{ super() }}
Cuentas
{% endblock %}

{% block content %}


<div class="columns is-mobile">

    <div class="column is-8-desktop-only is-5-mobile">
        <nav class="breadcrumb " aria-label="breadcrumbs">
            <ul>
                <li class="is-active">
                    <a href="#">
                        Favoritos
                    </a>
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
    </div>

</div>

<section class="box has-background-black-bis">
    
    {% if list_favorites %}

    {% for favorite in list_favorites %}

    <a class="media hover-accounts" href="{{ url_for('details_favorite', id_account=favorite['detail']['id_account']) }}">
        <div class="media-left">
            <span class="icon is-medium">
                <i class="{{ favorite['detail']['icon'] }} fa-2x"></i>
            </span>
        </div>
        <div class="media-content">
            <p class="title is-6 has-text-white">{{ favorite['name'] }}</p>
            <p class="subtitle is-7 has-text-white-ter">{{ favorite['detail']['username'] }}</p>
        </div>
    </a>

    {% endfor %}
    {% else %}

    <p class="subtitle is-6 has-text-centered">
        No hay favoritos
    </p>

    {% endif %}
</section>

{% endblock %}