{% extends 'layout.html' %}


{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}


<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-black-bis">
            <p class="modal-card-title has-text-light">
                Agregar Bóveda
            </p>
            <button class="delete" aria-label="close"></button>
        </header>

        <form action="{{ url_for('vault') }}" method="post">

            <section class="modal-card-body">

                <label class="label">Nombre</label>
                <div class="field">
                    <div class="control">
                        {{ vault_form.vaultname(id='name', class='input', type='text', placeholder='Nombre de la bóveda', autocomplete='off') }}
                    </div>
                </div>

                <label class="label">Icono</label>
                <div class="field">

                    <!-- Icon select -->
                    <a class="button is-static">
                        <span class="icon is-small">
                            <i id="icon-select" class="fas fa-folder has-text-dark"></i>
                        </span>
                    </a>

                    {% include 'icon_vault.html' %}

                </div>

                {{ vault_form.icon_vault(class='is-hidden', value='fas fa-folder has-text-dark')}}

                <label class="label">Descripción</label>
                <div class="field">
                    <div class="control">
                        {{ vault_form.description(class='textarea', type='text', placeholder='Descripción del contenido, opcional', autocomplete='off') }}
                    </div>
                </div>

            </section>

            <footer class="modal-card-foot">

                <div class="field is-grouped">
                    <p class="control">
                        {{ vault_form.submit(class="button is-orange has-text-light", value="Agregar")}}
                    </p>

                    <p class="control">
                        <a class="button exit">Cancelar</a>
                    </p>
                </div>

            </footer>

        </form>
    </div>
</div>






<div class="columns is-centered is-vcentered is-mobile">
    <div class="column is-8-desktop-only is-5-mobile">

        <nav class="breadcrumb " aria-label="breadcrumbs">
            <ul>
                <li class="is-active">
                    <a href="#">
                        Bóvedas
                    </a>
                </li>
                <li>

                </li>
            </ul>
        </nav>
    </div>
    <div class="column has-text-right">
        <div class="js-modal-trigger button is-small is-orange" data-target="modal-js-example">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span>Agregar bóveda</span>
        </div>
    </div>
</div>

<section class="box has-background-black-bis">
    {% if vaults %}

    {% for vault in vaults %}



    <a class="hover" href="{{ url_for('account', id_vault=vault[0])}}">
        <span class="icon-text">
            <span class="icon is-right">
                <i class="{{ vault[2] }}"></i>
            </span>
            <span class="has-text-white">{{ vault[1] }}</span>
        </span>
    </a>

    <hr class="dropdown-divider ml-5 has-background-grey-black-mode">

    {% endfor %}

    {% else %}

    <p class="subtitle is-6 has-text-centered">
        No hay bóvedas agregadas
    </p>

    {% endif %}
</section>


{% endblock %}