{% extends 'layout.html' %}


{% block title %}
{{ super() }}
Bienvenido
{% endblock %}

{% block content %}


<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content is-1">
        <div class="box">
            <form action="{{ url_for('vault') }}" method="post">
                <p class="subtitle is-6 has-text-black-bis">
                    Bóveda
                </p>
                <div class="field">
                    <div class="control">
                        {{ vault_form.vaultname(id='name', class='input', type='text', placeholder='Nombre de la bóveda', autocomplete='off') }}
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        {{ vault_form.description(class='textarea', type='text', placeholder='Descripción del contenido, opcional', autocomplete='off') }}
                    </div>
                </div>

                <div class="control has-text-right">
                    {{ vault_form.submit(class="button is-link has-text-light") }}
                </div>
            </form>
        </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="columns is-centered is-vcentered">
    <div class="column">
        <p class="subtitle is-6 has-text-black-bis">
            Bóvedas
        </p>
    </div>
    <div class="column has-text-right">
        <button class="js-modal-trigger button is-small is-link" data-target="modal-js-example">
            Agregar bóveda
        </button>
    </div>
</div>

<section class="box">
    {% if vaults %}
    {% for vault in vaults %}
    <div class="horizontal-line"></div>
    <div>
        <a href="{{ url_for('account', id_vault=vault[0])}}">
            <!-- url_for('update', todo_id=todo.id, done=todo.to_dict().done) -->
            <span class="icon-text has-icons-right has-text-black-bis">
                <span>{{ vault[1] }}</span>
                <span class="icon is-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </span>
        </a>
    </div>
    {% endfor %}
    {% else %}
    <div class="box">
        <p class="subtitle is-6 has-text-centered">
            No hay bóvedas agregadas
        </p>
    </div>
    {% endif %}
</section>


{% endblock %}