<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="../static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"></script>
    <title>
        {% block title %}
        PyPass |
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar has-background-dark">
        {% include 'navbar.html'  %}
    </nav>

    <div class="section has-background-light is-mobile">

        {% for message in get_flashed_messages() %}

        <script>
            bulmaToast.toast({
                message: '{{ message }}',
                position: 'top-right',
                type: 'is-link',
                closeOnClick: false,
                dismissible: true,
                animate: {
                    in: 'fadeIn',
                    out: 'fadeOut'
                },
            })
        </script>

        {% endfor %}

        <div class="columns">

            <div class="column is-one-fifth">
                {% include 'menu.html' %}
            </div>

            <div class="vertical-line">
            </div>

            <div class="column  is-one-third-desktop ">
                {% block content %}

                {% endblock %}
            </div>

            <div class="vertical-line">
            </div>

            <div class="column">
                
                    {% block details %}

                    {% endblock %}
                </div>
            </div>


        </div>


    </div>
</body>

</html>