<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"></script>
    <link rel="icon"
        href="https://cdn-icons.flaticon.com/png/512/4023/premium/4023215.png?token=exp=1649304352~hmac=ce43fdd4898f72162c1d52490d2d003f">
    <title>
        {% block title %}
        PyPass |
        {% endblock %}
    </title>
</head>

<body class="has-background-white">

    <nav class="navbar has-background-black-bis">
        {% include 'navbar.html'  %}
    </nav>

    <!-- Navbar mobil -->
    <nav class="navbar is-fixed-bottom is-link is-hidden-desktop is-hidden-fullhd is-hidden-tablet" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-expanded  is-block has-text-centered">
                <i class="fa fa-user"></i>
                <p class="is-size-7">Account</p>
            </a>
            <a class="navbar-item is-expanded  is-block has-text-centered">
                <i class="fa fa-list"></i>
                <p class="is-size-7">Tasks</p>
            </a>
            <a class="navbar-item is-expanded is-block has-text-centered">
                <i class="fa fa-flag"></i>
                <p class="is-size-7">Alerts</p>
            </a>
            <a class="navbar-item is-expanded  is-block has-text-centered">
                <i class="fa fa-cog"></i>
                <p class="is-size-7">Settings</p>
            </a>
        </div>
    </nav>

    <div class="section has-background-white">

        {% for message in get_flashed_messages() %}

        <script>
            bulmaToast.toast({
                message: '{{ message }}',
                position: 'top-right',
                type: 'is-orange',
                closeOnClick: false,
                dismissible: true,
                animate: {
                    in: 'fadeIn',
                    out: 'fadeOut'
                },
            });
        </script>

        {% endfor %}

        <div class="columns">

            <div class="column is-one-fifth-desktop  is-hidden-mobile">
                {% include 'menu.html' %}
            </div>

            <div class="vertical-line">
            </div>

            <div class="column is-one-third-desktop ">
                {% block content %}

                {% endblock %}
            </div>

            {% if details_account %}

            <div class="vertical-line">
            </div>

            <hr class="is-hidden-desktop">

            {% endif %}

            <div class="column">
                {% block details %}

                {% endblock %}
            </div>

        </div>


    </div>

    <footer class="footer is-hidden-mobile">
        <div class="content has-text-centered">
            <p>
                <strong>PyPass</strong> by <a href="#">Yván Varela</a>
            </p>
        </div>
    </footer>

</body>

</html>