<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <link rel="icon"
        href="https://cdn-icons.flaticon.com/png/512/4023/premium/4023215.png?token=exp=1649304352~hmac=ce43fdd4898f72162c1d52490d2d003f">
    <title>
        {% block title %}
        PyPass |
        {% endblock %}
    </title>
</head>

<body class="has-background-white">
    <section class="hero is-medium has-background-white">

        {% for message in get_flashed_messages() %}

        <script>
            bulmaToast.toast({
                message: '{{ message }}',
                position: 'top-right',
                type: 'is-orange',
                closeOnClick: false,
                dismissible: true,
                animate: {
                    in: 'fadeIn',
                    out: 'fadeOut'
                },
            })
        </script>

        {% endfor %}

        <div class="hero-body">

            <div class="column container is-4-desktop is-6-tablet is-3-fullhd">

                <div class="card">
                    <div class="card-header has-background-black-bis">
                        <p class="card-header-title title is-4 is-centered has-text-white">
                            PyPass
                        </p>
                    </div>

                    <div class="card-content">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>

    </section>
</body>

</html>