<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bulma 0.9.3 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <!-- Font-awesome 5.15.4 -->
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- Clipboard 2.0.10 -->
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <!-- Bulma-toast 2.4.1 -->
    <script src="{{ url_for('static', filename='js/bulma-toast.min.js') }}"></script>
    <!-- Animnate-css 4.1.1 -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <!-- Icon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>
        {% block title %}
        11Pass |
        {% endblock %}
    </title>
</head>

<body class="has-background-white">
    <section class="hero is-medium has-background-white">

        {% include 'message.html' %}

        <div class="hero-body">

            <div class="column container is-4-desktop is-6-tablet is-3-fullhd">

                <div class="card">
                    <div class="card-header has-background-black-bis">
                        <p class="card-header-title title is-4 is-centered has-text-white">
                            11Pass
                        </p>
                    </div>

                    <div class="card-content">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>

    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>11Pass</strong> by <a href="#">Yván Varela</a>
            </p>
        </div>
    </footer>
</body>

<script>
    function viewPass(id) {
        var tipo = document.getElementById(id);
        var icon = document.getElementById('icon-' + id);

        if (tipo.type === "password") {
            tipo.type = "text";

            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            tipo.type = "password";

            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>

</html>