<aside class="menu card full-height">
    <div class="card-header">

        <p class="js-modal-trigger card-header-title is-clickable" data-target="user-modal">
            <a>
                <span class="icon-text has-text-black-bis">
                    <span class="icon">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </span>
                    <span class="pl-1 subtitle has-text-black-bis">
                        {{ username.capitalize() }}
                    </span>
                </span>
            </a>
        </p>
    </div>

    <div class="card-content">

        <div class="tags has-addons">
            <span class="tag has-text-black">
                <div class="icon-text">
                    <span class="icon">
                        <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span>Items</span>
                </div>
            </span>
            <span class="tag is-orange has-text-black">{{ items[0] }}</span>
        </div>

        <ul class="menu-list">
            <li>
                <a href="{{ url_for('home') }}">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-archive"></i>
                        </span>
                        <span>
                            Bóvedas
                        </span>
                    </span>
                </a>
                <ul>
                    {% for vault in vaults  %}
                    <li>
                        <a href="{{ url_for('account', id_vault=vault[0]) }}">
                            {{ vault[1] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</aside>

