<aside class="menu card">
    <div class="card-header">

        <p class="js-modal-trigger card-header-title is-clickable" data-target="user-modal">
            <a>
                <span class="icon-text has-text-black-bis">
                    <span class="icon">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </span>
                    <span class="pl-1 subtitle has-text-black-bis">
                        {{ username.capitalize() }}
                    </span>
                </span>
            </a>
        </p>
    </div>
    
    <div class="card-content">

        <div class="tags has-addons">
            <span class="tag has-text-black">
                <div class="icon-text">
                    <span class="icon">
                        <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span>Items</span>
                </div>
            </span>
            <span class="tag is-orange has-text-black">{{ items[0] }}</span>
        </div>

        <ul class="menu-list">
            <!-- <li>
                <a id="vault-menu" class="vault-menu" href="#">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-archive"></i>
                        </span>
                        <span>
                            Bóvedas
                        </span>
                    </span>
                </a>
                <ul>
                    {% for vault in vaults  %}
                    <li id="content-vault" class="content-vault is-hidden">
                        <a href="{{ url_for('account', id_vault=vault[0]) }}">
                            {{ vault[1] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li> -->
            <li>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon">
                                <i class="fas fa-archive"></i>
                            </span>
                            <span> Bóvedas </span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for vault in vaults  %}
                            
                            <a href="{{ url_for('account', id_vault=vault[0]) }}">
                                {{ vault[1] }}
                            </a>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>


