<aside class="menu">
    <p class="content ml-2">
        <a>
            <span class="icon-text has-text-grey-dark">
                <span class="icon">
                    <i class="fas fa-user-circle fa-2x"></i>
                </span>
                <span class="pl-1 subtitle">
                    {{ username.capitalize() }}
                </span>
            </span>
        </a>
    </p>
    <hr>

    <p>
        <div class="tags has-addons ml-2">
            <span class="tag">Items</span>
            <span class="tag is-link">14</span>
        </div>

    </p>

    <p class="menu-label">
        Administración
    </p>
    <ul class="menu-list">
        <li>
            <a class="is-active" href="{{ url_for('home') }}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-archive"></i>
                    </span>
                    <span>
                        Bóvedas
                    </span>
                </span>
            </a>
            <ul>
                {% for vault in vaults  %}
                <li>
                    <a>
                        {{ vault[1] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</aside>