<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item">
            <span class="title has-text-black">
                <span class="icon"></span>
                PyPass
            </span>
        </a>
        <a role="button" class="navbar-burger has-text-light" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu has-text-light is-green-aqua has-text-right">
        <div class="navbar-end">
            <span class="navbar-item">

                <a class="is-hidden-desktop is-hidden-tablet" href="">
                    <span class="icon is-medium has-text-black">
                        <i class="fas fa-user-circle"></i>
                    </span>
                </a>

                <a href="{{ url_for('auth.logout') }}">
                    <span class="icon is-medium has-text-black">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                </a>
            </span>
        </div>
    </div>
</div>
