<div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
        <a class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Elegir icono</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
            <div class="dropdown-item">
                <p class="buttons">

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-facebook', 'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-instagram', 'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-twitter',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-github', 'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>


                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-bitbucket',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-bitbucket"></i>
                        </span>
                    </a>


                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-atlassian',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-atlassian"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-apple',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-apple"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-google',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-google"></i>
                        </span>
                    </a>


                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fab', 'fa-spotify',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fab fa-spotify"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fas', 'fa-lock',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fas', 'fa-key',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fas fa-key"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fas', 'fa-shopping-cart',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-danger"
                        onclick="iconValue('icon-account', 'fas', 'fa-shopping-cart',  'has-text-danger')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-info"
                        onclick="iconValue('icon-account', 'fas', 'fa-shopping-cart',  'has-text-info')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-orange"
                        onclick="iconValue('icon-account', 'fas', 'fa-shopping-cart',  'has-text-orange')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-success"
                        onclick="iconValue('icon-account', 'fas', 'fa-shopping-cart',  'has-text-success')">
                        <span class="icon is-small">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-dark"
                        onclick="iconValue('icon-account', 'fas', 'fa-circle',  'has-text-dark')">
                        <span class="icon is-small">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-danger"
                        onclick="iconValue('icon-account', 'fas', 'fa-circle',  'has-text-danger')">
                        <span class="icon is-small">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-info"
                        onclick="iconValue('icon-account', 'fas', 'fa-circle',  'has-text-info')">
                        <span class="icon is-small">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-orange"
                        onclick="iconValue('icon-account', 'fas', 'fa-circle',  'has-text-orange')">
                        <span class="icon is-small">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>

                    <a class="button is-white has-text-success"
                        onclick="iconValue('icon-account', 'fas', 'fa-circle',  'has-text-success')">
                        <span class="icon is-small">
                            <i class="fas fa-circle"></i>
                        </span>
                    </a>

                </p>
            </div>
        </div>
    </div>
</div>

